* {
  color: inherit;
  margin: 0;
}

h1 {
  color: #3498db;
}
h1 a {
  color: beige;
  background-color: royalblue;
}

.btn {
  color: #ecf0f1;
  background-color: #3498db;
  padding: 0.75rem;
  border: 1px solid #3498db;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.alert {
  padding: 1.5rem 0.75rem;
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #ecf0f1;
  font-weight: 600;
  letter-spacing: 0.1rem;
}