// Theme Color
$primary: #3498db;
$secondary: #bdc3c7;
$success: #2ecc71;
$light: #ecf0f1;
$danger: #e74c3c;
$warning: #e67e22;
$base-theme: #eaeaea;
$base-content: #ffffff;

// spacing
$base-spacing: .75rem;

// borders
$base-border-thickness: 1px;
$base-radius: .5rem;

// box-shadow
$base-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .25) ;

// font-size
$base-font-content: 1rem; // for regular font span, p, etc.
$base-font-heading: 1.5rem; // for heading text h or display text